.logo-technology {
  height: 100px;
  width: 100px;
}

.icon-container {
  text-align: center;
  background-color: #F7BC2B;
  margin: 0 auto;
  padding: 18px;
  width: 100px;
  height: 100px;
  border-radius: 220px;
  margin-top: 7px;
}

.border-icon-container {
  width: 120px;
  height: 120px;
  border: 3px solid #F7BC2B;
  margin: 0 auto;
  border-radius: 220px;
  border-style: dotted;
}

.logo {
  font-size: 60px;
  color: #ffffff;
}
