.logo-technology {
  height: 100px;
  width: 100px;
}

.icon-container{
  text-align: center;
  background-color: #F05F40;
  margin: 0 auto;
  padding: 18px;
  width: 100px;
  height: 100px;
  border-radius: 220px;
}

.logo{
  font-size: 60px ;
  color: #FFFFFF;
}


