.App {
  text-align: center;
}

.Home-.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Home-wallpaper {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  width: 100%;
  height: 650px;
  background: url('../../assets/img/wallpaper.png') no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  -webkit-clip-path: polygon(100% 0, 100% 66%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 66%, 0 100%, 0 0);
}

.pulse {
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  z-index: 11;
  position: relative;
  cursor: pointer;
}

.header .m-top {
  margin-top: 152px;
}

.header .title {
  font-family: 'Kaushan Script', cursive;
  font-size: 4.5em !important;
  margin: 20px;
  margin-bottom: 30px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.header .subtitle {
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 32px;
  margin: 10px;
}

.header .icon {
  padding: 6px;
  width: 90px;
  height: 10px;
  color: #fff;
  text-align: center;
  margin: 4px;
  font-size: 50px;
}

.fab,
.far {
  color: #fff;
  transition: color 0.6s;
}

.github:hover {
  color: #24292e;
}

.twitter:hover {
  color: #35aaf3;
}

.linkedin:hover {
  color: #1a85bc;
}

.youtube:hover {
  color: #b52d30;
}

.instagram:hover {
  color: #7c0170;
}

.envelope:hover {
  color: #f48939;
}

#fixed-accounts {
  position: fixed;
  display: block;
  background-color: #34343bc7;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.6s ease-out;
  opacity: 0;
}

#fixed-accounts div {
  right: 0;
  left: 0;
  text-align: center;
}

#fixed-accounts a {
  text-decoration: none;
  padding: 8px 8px;
  font-size: 30px;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .header .m-top {
    margin-top: 80px;
  }
}

@media only screen and (max-width: 488px) {
  .header .m-top {
    margin-top: 152px;
  }
  .header .title {
    font-size: 3.5em !important;
  }

  .header .subtitle {
    font-size: 30px;
  }

  .header .icon {
    font-size: 40px;
  }
}

@media only screen and (max-width: 433px) {
  .header .m-top {
    margin-top: 200px;
  }
  .header .title {
    font-size: 2.5em !important;
    margin-bottom: 0;
  }

  .header .subtitle {
    font-size: 20px;
  }

  .header .icon {
    font-size: 25px;
  }
}
