.App {
  text-align: center;
}

.Home-.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Home-wallpaper{
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  width: 100%;
  height: 650px;
  background-image: url('../../img/wallpaper.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: #fff;
  text-align: center;
/* background-color: rgba(36, 78, 141, 0.616);
  background-blend-mode: multiply; */  
}

#about-me{
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  z-index: 11;
  position: relative;
  cursor: pointer;
}

.header .textos {
  margin-top: 152px;
}

.header .titulo {
  font-size: 85px;
}

.header .subtitulo {
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 32px;
}

.header .icon {
  padding: 6px;
  width: 90px ;
  height: 10px;
  color: #fff;
  text-align: center;
  margin: 4px;
  font-size: 50px
}

.sesgoabajo {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 35vh 100vw;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.fab, .far{
  color: #fff;
  transition: color 0.6s;
}

.github:hover{
  color: #24292E
}

.twitter:hover{
  color: #35AAF3
}

.linkedin:hover{
  color: #1A85BC
}

.youtube:hover{
  color: #B52D30
}

.instagram:hover{
  color: #7C0170
}

.envelope:hover{
  color: #F48939
}






