@import url("//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800|Kaushan+Script");

@import url("./assets/fonts/Avenir_W01.css");

body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  font-size: 100%;
  /* font-family: 'Poppins', sans-serif;  */
  font-family: "Avenir W01";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #202020;
  font-size: 1rem;
  background: #f8f8fb;
}

.job {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center-txt {
  text-align: center;
}

body::-webkit-scrollbar {
  width: 12px;
  background: #202020;
}

body::-webkit-scrollbar-thumb {
  background: #F7BC2B;
  border-radius: 5px;
  border: 3px solid #202020;
}

@font-face {
  font-family: "Aquino";
  font-weight: normal;
  font-style: normal;
  src: url("./assets/fonts/Aquino-Demo.ttf");
  src: url("./assets/fonts/Aquino-Demo.ttf") format("truetype");
}

@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/circular-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/circular-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1,
h2 {
  font-size: 3em !important;
  letter-spacing: -0.04em;
  font-weight: 900;
  line-height: 1.15;
}

.line-dv {
  background-color: #F7BC2B;
  height: 3px;
  width: 200px;
  margin: 0 auto;
  margin-top: -35px;
}

.paragraph {
  margin-bottom: 13px;
  font-weight: 300;
  text-align: justify;
  line-height: 24px;
}

.mb {
  margin-top: 50px;
  margin-bottom: 50px;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
